<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <div th:replace="~{fragment :: meta}"></div>

    <div th:replace="~{fragment :: styles}"></div>

    <title>楽器一覧</title>
</head>

<body>
    <div class="moatmusic-wrapper">
        <!-- ヘッダー -->
        <div th:replace="~{fragment :: header}"></div>

        <main>
            <div class="container moatmusic-container pb-5">
                <div class="row justify-content-center">
                    <nav class="my-3" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item"><a th:href="@{/}">ホーム</a></li>
                            <li class="breadcrumb-item active" aria-current="page">楽器一覧</li>
                        </ol>
                    </nav>

                    <div class="col-xl-3 col-lg-4 col-md-12">
                        <form method="get" th:action="@{/stringInstrument}" class="w-100 mb-3">
                            <div class="input-group">
                                <input type="text" class="form-control" name="nameKeyword" th:value="${nameKeyword}" placeholder="楽器名">
                                <button type="submit" class="btn text-white shadow-sm moatmusic-btn">検索</button>
                            </div>
                        </form>

                        <div class="card mb-3">
                            <div class="card-header">
                                利き手から探す
                            </div>
                            <div class="card-body">
                                <form method="get" th:action="@{/stringInstrument}" class="w-100">
                                    <div class="form-group mb-3">
                                        <select class="form-control form-select" name="handedness">
                                            <option value="" hidden>選択してください</option>
                                            <optgroup label="右か左">
                                                <option value="右" th:selected="${handedness == '右'}">右</option>
                                                <option value="左" th:selected="${handedness == '左'}">左</option>

                                            </optgroup>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit"
                                            class="btn text-white shadow-sm w-100 moatmusic-btn">検索</button>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="card mb-3">
                            <div class="card-header">
                                1時間あたりの料金から探す
                            </div>
                            <div class="card-body">
                                <form method="get" th:action="@{/stringInstrument}" class="w-100">
                                    <div class="form-group mb-3">
                                        <select class="form-control form-select" name="price">
                                            <option value="" hidden>選択してください</option>
                                            <option value="600" th:selected="${price == 600}">600円以内</option>
                                            <option value="800" th:selected="${price == 800}">800円以内</option>
                                            <option value="1000" th:selected="${price == 1000}">1,000円以内</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit"
                                            class="btn text-white shadow-sm w-100 moatmusic-btn">検索</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="d-flex justify-content-between flex-wrap">
                            <p th:if="${stringInstrumentPage.getTotalPages() > 1}" class="fs-5 mb-3" th:text="${'検索結果：' + stringInstrumentPage.getTotalElements() + '件' + '（' + (stringInstrumentPage.getNumber() + 1) + ' / ' + stringInstrumentPage.getTotalPages() + ' ページ）'}"></p>
                            <p th:unless="${stringInstrumentPage.getTotalPages() > 1}" class="fs-5 mb-3" th:text="${'検索結果：' + stringInstrumentPage.getTotalElements() + '件'}"></p>
                        </div>

                        <div class="mb-3" th:each="stringInstrument : ${stringInstrumentPage}">
                            <a th:href="@{/stringInstrument/__${stringInstrument.getId()}__}" class="link-dark moatmusic-card-link">
                                <div class="card h-100">
                                    <div class="row g-0">
                                        <div class="col-md-4">
                                            <img th:if="${stringInstrument.getImageName()}" th:src="@{/storage/__${stringInstrument.getImageName()}__}" class="card-img-top moatmusic-horizontal-card-image" alt="楽器画像">
                                            <img th:unless="${stringInstrument.getImageName()}" th:src="@{/images/noImage.png}" class="card-img-top moatmusic-horizontal-card-image" alt="NO IMAGE">
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <h3 class="card-title mb-3" th:text="${stringInstrument.getName()}">
                                                </h3>

                                                <hr class="mb-3">

                                                <p class="card-text mb-2">
                                                    <span th:text="${stringInstrument.getDescription()}"></span>
                                                </p>

                                                <p class="card-text">
                                                    <span th:text="${#numbers.formatInteger(stringInstrument.getPrice(), 1, 'COMMA') + '円 /時間'}"></span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <!-- ページネーション -->
                        <div th:if="${stringInstrumentPage.getTotalPages()> 1}" class="d-flex justify-content-center">
                            <nav aria-label="楽器一覧ページ">
                                <ul class="pagination">
                                    <li class="page-item">
                                        <span th:if="${stringInstrumentPage.isFirst()}" class="page-link disabled">前</span>
                                        <a th:unless="${stringInstrumentPage.isFirst()}" th:href="@{/stringInstrument(page = ${stringInstrumentPage.getNumber() - 1}, nameKeyword = ${nameKeyword}, handedness = ${handedness},price = ${price})}" class="page-link moatmusic-page-link">前</a>
                                    </li>
                                    <li th:each="i : ${#numbers.sequence(0, stringInstrumentPage.getTotalPages() - 1)}" class="page-item">
                                        <span th:if="${i == stringInstrumentPage.getNumber()}" class="page-link active moatmusic-active" th:text="${i + 1}"></span>
                                        <a th:unless="${i == stringInstrumentPage.getNumber()}" th:href="@{/stringInstrument(page = ${i}, nameKeyword = ${nameKeyword}, handedness = ${handedness}, price = ${price})}" class="page-link moatmusic-page-link" th:text="${i + 1}"></a>
                                    </li>
                                    <li class="page-item">
                                        <span th:if="${stringInstrumentPage.isLast()}" class="page-link disabled">次</span>
                                        <a th:unless="${stringInstrumentPage.isLast()}" th:href="@{/stringInstrument(page = ${stringInstrumentPage.getNumber() + 1}, nameKeyword = ${nameKeyword}, handedness = ${handedness}, price = ${price})}" class="page-link moatmusic-page-link">次</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <!-- フッター -->
        <div th:replace="~{fragment :: footer}"></div>
    </div>

    <div th:replace="~{fragment :: scripts}"></div>
</body>

</html>