<!DOCTYPE html> <!--楽器詳細ページ-->
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <div th:replace="~{fragment :: meta}"></div>

    <div th:replace="~{fragment :: styles}"></div>

    <!-- Flatpickr -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

    <title>楽器詳細</title>
</head>

<body>
    <div class="moatmusic-wrapper">
        <!-- ヘッダー -->
        <div th:replace="~{fragment :: header}"></div>

        <main>
            <div class="container pt-4 pb-5 moatmusic-container">
                <div class="row justify-content-center">
                    <div class="col-xxl-9 col-xl-10 col-lg-11">
                        <nav class="mb-4" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                            <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item"><a th:href="@{/}">ホーム</a></li>
                                <li class="breadcrumb-item"><a th:href="@{/stringInstrument}">楽器一覧</a></li>
                                <li class="breadcrumb-item active" aria-current="page">楽器詳細</li>
                            </ol>
                        </nav>
                        <h1 class="mb-4 text-center" th:text="${stringInstrument.getName()}"></h1>
                        <div th:if="${errorMessage}" class="alert alert-danger">
                            <span th:text="${errorMessage}"></span>
                        </div>

                        <div class="mb-4">
                            <img th:if="${stringInstrument.getImageName()}"
                                th:src="@{/storage/__${stringInstrument.getImageName()}__}" class="w-100" alt="楽器画像">
                            <img th:unless="${stringInstrument.getImageName()}" th:src="@{/images/noImage.png}"
                                class="w-100" alt="NO IMAGE">
                        </div>

                        <div class="container">
                            <div class="row">
                                <div class="col-lg-8 container mb-4">
                                    <div class="row pb-2 mb-2 border-bottom">
                                        <div class="col-4">
                                            <span class="fw-bold">楽器名</span>
                                        </div>

                                        <div class="col">
                                            <span th:text="${stringInstrument.getName()}"></span>
                                        </div>
                                    </div>

                                    <div class="row pb-2 mb-2 border-bottom">
                                        <div class="col-4">
                                            <span class="fw-bold">説明</span>
                                        </div>

                                        <div class="col">
                                            <span class="moatmusic-pre-wrap"
                                                th:text="${stringInstrument.getDescription()}"></span>
                                        </div>
                                    </div>

                                    <div class="row pb-2 mb-2 border-bottom">
                                        <div class="col-4">
                                            <span class="fw-bold">レンタル料金</span>
                                        </div>

                                        <div class="col">
                                            <span
                                                th:text="${#numbers.formatInteger(stringInstrument.getPrice(), 1, 'COMMA') + '円'}"></span>
                                        </div>
                                    </div>

                                    <div class="row pb-2 mb-2 border-bottom">
                                        <div class="col-4">
                                            <span class="fw-bold">楽器最大貸出数</span>
                                        </div>

                                        <div class="col">
                                            <span th:text="${stringInstrument.getCapacity() + '台'}"></span>
                                        </div>
                                    </div>

                                    <div class="row pb-2 mb-2 border-bottom">
                                        <div class="col-4">
                                            <span class="fw-bold">利き手</span>
                                        </div>

                                        <div class="col">
                                            <span th:text="${stringInstrument.getHandedness()}"></span>
                                        </div>
                                    </div>
                                </div>

                                <div sec:authorize="isAnonymous()" class="col-lg-4 px-0 ps-lg-4 mb-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <p class="card-text">予約するには<a th:href="@{/login}">ログイン</a>が必要です。</p>
                                            <button type="submit" class="btn text-white shadow-sm w-100 moatmusic-btn"
                                                disabled>予約する</button>
                                        </div>
                                    </div>
                                </div>
                                <div sec:authorize="isAuthenticated()" class="col-lg-4 px-0 ps-lg-4 mb-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <form method="get"
                                                th:action="@{/stringInstrument/__${stringInstrument.getId()}__/reservations/input}"
                                                th:object="${reservationInputForm}">
                                                <div class="form-group mb-2">
                                                    <label for="fromRentalStartTimeDateToRentalEndTimeDate" class="col-form-label text-md-left fw-bold">レンタル開始・終了日時</label>
                                                    <div th:if="${#fields.hasErrors('fromRentalStartTimeDateToRentalEndTimeDate')}"
                                                        class="text-danger small mb-2"
                                                        th:errors="*{fromRentalStartTimeDateToRentalEndTimeDate}"></div>
                                                    <input type="text" class="form-control"
                                                        th:field="*{fromRentalStartTimeDateToRentalEndTimeDate}">
                                                </div>

                                                <div class="form-group mb-4">
                                                    <label for="rentalQuantity"
                                                        class="col-form-label text-md-left fw-bold">貸出数
                                                    </label>
                                                    <div th:if="${#fields.hasErrors('rentalQuantity')}" class="text-danger small mb-2" th:errors="*{rentalQuantity}"></div>
                                                    <input type="number" class="form-control"
                                                        th:field="*{rentalQuantity}" min="1">
                                                </div>

                                                <div class="form-group">
                                                    <button type="submit"
                                                        class="btn text-white shadow-sm w-100 moatmusic-btn">予約
                                                        する</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </main>

        <!-- フッター -->
        <div th:replace="~{fragment :: footer}"></div>
    </div>

    <div th:replace="~{fragment :: scripts}"></div>
    <!-- Flatpickr -->
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/ja.js"></script>
    <script th:src="@{/js/flatpickr.js}"></script>
</body>

</html>