/* 7-5 */
html {
    font-size: 14px;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
}

h1 {
    font-size: 1.5rem;
}

a {
    color: #5196a6;
    text-decoration: none !important;
}

a:hover {
    color: #407784;
}

footer {
    width: 100%;
    height: 60px;
    position: absolute;
    bottom: 0;
    background-color: #f2f0eb;
}

.moattravel-wrapper {
    min-height: 100vh;
    position: relative;
    padding-bottom: 60px;
    box-sizing: border-box;
}

.moattravel-navbar {
    min-height: 60px;
}

.moattravel-logo {
    height: 30px;
}

.moattravel-btn {
    background-color: #5196a6 !important;
    transition: 0.1s;
}

.moattravel-btn:hover {
    opacity: 0.8;
}

.moattravel-page-link {
    /*8-3*/
    color: #5196a6;
}

.moattravel-page-link:hover {
    /*8-3*/
    color: #407784;
}

.moattravel-active {
    /*8-3*/
    background-color: #5196a6 !important;
    border-color: #5196a6 !important;
}

.moattravel-pre-wrap {
    /* 改行文字で行を折り返す */
    white-space: pre-wrap;
}

.moattravel-link-danger { /*16-3*/
    color: #f2594b;
}

.moattravel-link-danger:hover {  /*16-3*/
    color: #a63c3c;
}

.moattravel-btn-danger {  /*16-3*/
    background-color: #f2594b !important;
    transition: 0.1s;
}

.moattravel-btn-danger:hover {  /*16-3*/
    opacity: 0.8;
}

.moattravel-dropdown-item:active {  /*20-2で追加*/
    background-color: #5196a6;
}

@media screen and (min-width: 1400px) {
    .moattravel-container {
        max-width: 1200px;
    }
}