html {
    font-size: 14px;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
}

h1 {
    font-size: 1.5rem;
}

h2 {  /*29章で追加*/
    font-size: 1.475rem;  /*29章で追加*/
}

h3 {   /*27章で追加*/
    font-size: 1.25rem;  /*27章で追加*/
}

a {
    color: #5196a6;
    text-decoration: none !important;
}

a:hover {
    color: #407784;
}

footer {
    width: 100%;
    height: 60px;
    /* position: absolute; フッターがエリアから探すと被ってしまったため29章で削除  */
    /* bottom: 0; フッターがエリアから探すと被ってしまったため29章で削除　*/
    background-color: #f2f0eb;
}

.moattravel-wrapper{
    min-height: 100vh;
    position: relative;
    padding-bottom: 60px;
    box-sizing: border-box;
}

.moattravel-navbar {
    min-height: 60px;
}

.moattravel-logo {
    height: 30px;
}

.moattravel-btn {
    background-color: #5196a6 !important;
    transition: 0.1s;
}

.moattravel-btn:hover {
    opacity: 0.8;
}

.moattravel-page-link {
    color: #5196a6;
}
.moattravel-page-link:hover {
    color: #407784;
}

.moattravel-active {
    background-color: #5196a6 !important;
    border-color: #5196a6 !important;
}

.moattravel-pre-wrap{
    /* 改行文字で行を折り返す */
    white-space: pre-wrap;
}

.moattravel-link-danger {  /* 16章で追加 */
    color: #f2594b;
}

.moattravel-link-danger:hover { /* 16章で追加 */
    color: #a63c3c; /* 16章で追加 */
}

.moattravel-btn-danger { /* 16章で追加 */
    background-color: #f2594b !important; /* 16章で追加 */
    transition: 0.1s; /* 16章で追加 */
}

.moattravel-btn-danger:hover { /* 16章で追加 */
    opacity: 0.8; /* 16章で追加 */
}

.moattravel-dropdown-item:active {  /* 20章で追加 */
    background-color: #5196a6;
}

.moattravel-card-link {  /*27章で追加*/
    transition: 0.3s;  /*27章で追加*/
}

.moattravel-card-link:hover {  /*27章で追加*/
    opacity: 0.7;  /*27章で追加*/
}

.moattravel-horizontal-card-image {  /*27章で追加*/
    width: 100%;  /*27章で追加*/
    height: 240px;   /*27章で追加*/
    object-fit: cover;  /*27章で追加*/
}

.moattravel-sort-box {  /*28章で追加*/
    width: 150px;   /*28章で追加*/
}

.moattravel-vertical-card-image { /*29章で追加*/
    width: 100%;  /*29章で追加*/
    height: 150px;  /*29章で追加*/
    object-fit: cover;  /*29章で追加*/
}

.moattravel-search-form {  /*29章で追加*/
    max-width: 300px;  /*29章で追加*/
}

@media screen and (min-width: 1400px) {
    .moattravel-container {
        max-width: 1200px;
    }
}